{{>layouts/header}}
{{#article}}
    여기는 Edit Page입니다.
    <form action="/articles/{{id}}/update" method="post">
        <input type="text" name="title" value="{{title}}" />
        <textarea rows="3" name="content">{{content}}</textarea>
            <input type="submit"/>
{{/article}}
</form>
<a href="/articles/{{id}}">1개 조회 페이지</a>
<a href="/articles">목록</a>
{{>layouts/footer}}