{{>layouts/header}}
<form action="/articles/posts" method="post">
    <input type="text" name="title">
    <input type="text" name="content">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">back</a>
</form>
{{>layouts/footer}}