{{>layouts/header}}
<div class="card" style="width: 18rem;">
    {{#article}}
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{id}}</h6>
            <p class="card-text">{{content}}</p>
            <a href="/articles/new" class="card-link">new article</a>
            <a href="/articles" class="card-link">list article</a>
        </div>
    {{/article}}
</div>
{{>layouts/footer}}